<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        
        <a class="navbar-brand fs-3 fw-bold text-warning" href="">🍿 MovieTracker</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav fs-5 align-items-center mb-0">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item mx-2" style="padding: 0 !important; margin: 0 !important;">
                            <NavLink class="nav-link py-2" href="favoris">Mes favoris</NavLink>
                        </li>
                        <li class="nav-item mx-2" style="padding: 0 !important; margin: 0 !important;">
                            <NavLink class="nav-link py-2" href="a-regarder">À regarder</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>

        <div class="d-flex align-items-center">
            <AuthorizeView>
                <Authorized>
                    <a href="Account/Manage" class="text-light me-4 text-decoration-none custom-profile-link" title="Aller sur mon profil">
                        👤 @context.User.Identity?.Name
                    </a>
                    
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="/" />
                        <button type="submit" class="btn btn-outline-danger btn-sm">Déconnexion</button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-outline-light me-2" href="Account/Register">S'inscrire</a>
                    <a class="btn btn-warning fw-bold" href="Account/Login">Connexion</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

    </div>
</nav>