@page "/"

<PageTitle>Accueil - MovieTracker</PageTitle>

<div class="text-center mt-5">
    <h1>🍿 Bienvenue sur MovieTracker</h1>
    <p class="lead">Découvrez les films les plus populaires et gérez votre collection personnelle.</p>
</div>